.card {
  border: 1px solid black;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px black;
}

.card > h2 {
  border-left:6px solid blue;
  font-size: 32px;
}
.card > img {
  border-radius: 10px;
}

.card > .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:8px;
  margin-bottom: 16px;
}

.tags > div {
  background: black;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 8px;

}